name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main", "dev"]

env:
  DATABASE_URL: ${{ secrets.DATABASE_URL }}
  DATABASE_AUTH_TOKEN: ${{ secrets.DATABASE_AUTH_TOKEN }}
  ENCRYPTION_KEY: ${{ secrets.ENCRYPTION_KEY }}
  GITHUB_CLIENT_ID: ${{ secrets.CLIENT_ID }}
  GITHUB_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
  PLUNK_BASE_URL: ${{ secrets.PLUNK_BASE_URL }}
  PLUNK_SECRET_KEY: ${{ secrets.PLUNK_SECRET_KEY }}

jobs:
  check:
    name: "Svelte Check"
    runs-on: ubuntu-latest
    strategy:
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm run check

  test:
    name: "Test"
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm run test

  build:
    name: "Build"
    needs: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 22.x, "24.x"]
    steps:
      - uses: actions/checkout@v4
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build
